# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.cbj5yta.mongodb.net/vexa_it?retryWrites=true&w=majority

# CORS Configuration
CLIENT_URL=http://localhost:5173
